@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=PT+Serif&display=swap');
*{
  margin:0;
  padding:0;
  font-family: 'Acme', sans-serif;
}
body{
  overflow-y: hidden;
  overflow-x: hidden;
}
.container::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  display: none;
}
li { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
a.underline {
  color: #9F73AB;
  text-decoration: none;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
a.underline:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #9F73AB;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a.underline:hover:after { 
  width: 100%; 
  left: 0; 
}
@media screen and (max-height: 300px) {
	ul {
		margin-top: 40px;
	}
}
.tootlips:hover{
  color:#FB2576;
  cursor: pointer;
}

.product_card{
  -webkit-transition: -webkit-transform 0.5s ease;
-moz-transition: -moz-transform 0.5s ease;
transition: transform 0.5s ease;
}

.product_card:hover{
  cursor: pointer;
  -webkit-transform: scale(1.25);
-moz-transform: scale(1.25);
-o-transform: scale(1.25);
transform: scale(1.25);


}

